<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Maehongsorn On Tour</title>

    <!-- Bootstrap Core CSS -->
    <link href="css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom CSS -->
    <link href="css/modern-business.css" rel="stylesheet">

    <!-- Custom Fonts -->
    <link href="font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>

<body>

    <!-- Navigation -->
    <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
        <div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="index.html"><h4>MaeHongSorn On Tour</h4></a>
            </div>
            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav navbar-right">
                    <li>
                        <a href="about.html">เกี่ยวกับจังหวัด</a>
                    </li>

                    <li>
                        <a href="contact.html">ติดต่อเรา</a>
                    </li>
					<li>
                        <a href="tourism.html">สถานที่ท่องเที่ยว</a>
                    </li>

                    <li class="dropdown active">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">ที่พัก/ร้านอาหาร <b class="caret"></b></a>
                        <ul class="dropdown-menu">
                            <li class="active"
                                <a href="accomodation.html">ที่พัก</a>
                            </li>
                            <li>
                                <a href="restaurant.html">ร้านอาหาร</a>
                            </li>

                        </ul>
                    </li>

                        </ul>
                    </li>
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container -->
    </nav>

    <!-- Header Carousel -->
    <header id="myCarousel" class="carousel slide">
        <!-- Indicators -->
        <ol class="carousel-indicators">
            <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
            <li data-target="#myCarousel" data-slide-to="1"></li>
            <li data-target="#myCarousel" data-slide-to="2"></li>
        </ol>

        <!-- Wrapper for slides -->
        <div class="carousel-inner">
            <div class="item active">
                <div class="fill" style="background-image:url('https://upload.wikimedia.org/wikipedia/commons/7/71/Intanon_03.jpg');"></div>
                <div class="carousel-caption">
                    <h1>จังหวัดแม่ฮ่องสอน</h1>
                </div>
            </div>
            <div class="item">
                <div class="fill" style="background-image:url('https://upload.wikimedia.org/wikipedia/commons/c/cc/%E0%B8%A2%E0%B8%B2%E0%B8%A1%E0%B9%82%E0%B8%9E%E0%B8%A5%E0%B9%89%E0%B9%80%E0%B8%9E%E0%B8%A5%E0%B9%89%E0%B8%97%E0%B8%B5%E0%B9%88%E0%B8%A7%E0%B8%B1%E0%B8%94%E0%B8%9E%E0%B8%A3%E0%B8%B0%E0%B8%98%E0%B8%B2%E0%B8%95%E0%B8%B8%E0%B8%94%E0%B8%AD%E0%B8%A2%E0%B8%81%E0%B8%AD%E0%B8%87%E0%B8%A1%E0%B8%B9.jpg');"></div>
                <div class="carousel-caption">
                    <h2>จังหวัดแม่ฮ่องสอน</h2>
                </div>
            </div>
            <div class="item">
                <div class="fill" style="background-image:url('http://www.chiangmainews.co.th/page/wp-content/uploads/DSC_02772.jpg');"></div>
                <div class="carousel-caption">
                    <h2>จังหวัดแม่ฮ่องสอน</h2>
                </div>
            </div>
        </div>

        <!-- Controls -->
        <a class="left carousel-control" href="#myCarousel" data-slide="prev">
            <span class="icon-prev"></span>
        </a>
        <a class="right carousel-control" href="#myCarousel" data-slide="next">
            <span class="icon-next"></span>
        </a>
    </header>

    <!-- Page Content -->
    <div class="container">

        <!-- Marketing Icons Section -->
        <div class="row">
            <div class="col-lg-12">
                <h1 class="page-header">
                    ข่าวกิจกรรมในจังหวัดแม่ฮ่องสอน
                </h1>
            </div>
            <div class="col-md-4">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4><i class="fa fa-fw fa-check"></i> ผู้ว่าราชการจังหวัดแม่ฮ่องสอน เป็นประธานในพิธีเปิดโครงการมหกรรมการแสดง นกกิ่งกะหร่า-โต เฉลิมพระเกียรติสมเด็จพระเทพ รัตนราชสุดาฯสยามบรมราชกุมารี ประจำปี 2559</h4>
                    </div>
                    <div class="panel-body">
                        <p>วันที่ 14 มกราคม 2559 เวลา 16.00 น. นายพิพัฒน์ เอกภาพันธ์ ผู้ว่าราชการจังหวัดแม่ฮ่องสอน เป็นประธานในพิธีเปิดโครงการมหกรรมการแสดง นกกิ่งกะหร่า-โต เฉลิมพระเกียรติสมเด็จพระเทพ รัตนราชสุดาฯสยามบรมราชกุมารี ประจำปี 2559 ณ บริเวณหน้าศาลากลางจังหวัดแม่ฮ่องสอน</p>
                        <a href="#" class="btn btn-default">Read More</a>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4><i class="fa fa-fw fa-check"></i> จังหวัดแม่ฮ่องสอน จัดงานรวมน้ำใจสู่กาชาด ณ บริเวณหน้าสภากาชาด</h4>
                    </div>
                    <div class="panel-body">
                        <p>วันที่ 14 มกราคม 2559 เวลา 9.00 น. นายพิพัฒน์ เอกภาพันธ์ ผู้ว่าราชการจังหวัดแม่ฮ่องสอน เป็นประธานในพิธีเปิด วันรวมน้ำใจสู่กาชาด ประจำปี 2559 ร่วมกับนางเนาวรัตน์ เอกภาพันธ์ นายกเหล่ากาชาด ณ บริเวณสภากาชาด จังหวัดแม่ฮ่องสอน</p>
                        <a href="#" class="btn btn-default">Read More</a>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4><i class="fa fa-fw fa-check"></i>ผู้ว่าราชการจังหวัดแม่ฮ่องสอน เป็นประธานพิธีโครงการสร้างภูมิคุ้มกันและป้องกันยาเสพติดในสถานศึกษา ประจำปี 2559</h4>
                    </div>
                    <div class="panel-body">
                        <p>วันที่ 11 มกราคม 2559 เวลา 10.30 น. นายพิพัฒน์ เอกภาพันธ์ ผู้ว่าราชการจังหวัดแม่ฮ่องสอน เป็นประธานพิธีเปิดโครงการสร้างภูมิคุ้มกันและป้องกันยาเสพติดในสถานศึกษา ประจำปี 2559</p>
                        <a href="#" class="btn btn-default">Read More</a>
                    </div>
                </div>
            </div>
        </div>
        <!-- /.row -->

        <!-- Portfolio Section -->
        <div class="row">
            <div class="col-lg-12">
                <h2 class="page-header">สถานที่ท่องเที่ยว ในจังหวัดแม่ฮ่องสอน</h2>
            </div>
            <div class="col-md-4 col-sm-6">
                <a href="portfolio-item.html">
                      <img class="img-responsive img-portfolio img-hover" src="http://www.tmd.go.th/images/locations/300201.jpg" alt="">
                </a>
            </div>
            <div class="col-md-4 col-sm-6">
                <a href="portfolio-item.html">
                    <img class="img-responsive img-portfolio img-hover" src="http://2.bp.blogspot.com/-PGDccBb4YlM/Vb-SzqsWiGI/AAAAAAAAJ9w/WSbVQEhZm78/s1600/%25E0%25B8%25A7%25E0%25B8%25B1%25E0%25B8%2594%25E0%25B8%259E%25E0%25B8%25A3%25E0%25B8%25B0%25E0%25B8%2598%25E0%25B8%25B2%25E0%25B8%2595%25E0%25B8%25B8%25E0%25B8%2594%25E0%25B8%25AD%25E0%25B8%25A2%25E0%25B8%2581%25E0%25B8%25AD%25E0%25B8%2587%25E0%25B8%25A1%25E0%25B8%25B9.png" alt="">
                </a>
            </div>
            <div class="col-md-4 col-sm-6">
                <a href="portfolio-item.html">
                    <img class="img-responsive img-portfolio img-hover" src="https://fernpat123.files.wordpress.com/2014/08/0045e902-c1ec-40c4-9250-6811e380bac7.jpg" alt="">
                </a>
            </div>
            <div class="col-md-4 col-sm-6">
                <a href="portfolio-item.html">
                    <img class="img-responsive img-portfolio img-hover" src="http://www.tourmaehongson.net/new%20pai/pai_intro.jpg" alt="">
                </a>
            </div>
            <div class="col-md-4 col-sm-6">
                <a href="portfolio-item.html">
                    <img class="img-responsive img-portfolio img-hover" src="http://salm.blob.core.windows.net/review-source/e90db006-1236-e3b4-6b41-5264f6ee61cd.jpg" alt="">
                </a>
            </div>
            <div class="col-md-4 col-sm-6">
                <a href="portfolio-item.html">
                    <img class="img-responsive img-portfolio img-hover" src="http://www.manager.co.th/asp-bin/Image.aspx?ID=1378546" alt="">
                </a>
            </div>
        </div>
        <!-- /.row -->

        <!-- Features Section -->
        <div class="row">
            <div class="col-lg-12">
                <h2 class="page-header">แนะนำจังหวัดแม่ฮ่องสอน</h2>
            </div>
            <div class="col-md-6">
                <p><h3>คลิปรายการท่องเที่ยวแนะนำ</h3></p>
                <ul>
                    <strong>เทยเที่ยวไทย ตอน 109 - พาเที่ยว ปาย แม่ฮ่องสอน</strong>

                    เผยแพร่เมื่อ 10 พ.ย. 2013
                    เทยเที่ยวไทย ตอน 109 - พาเที่ยว ปาย แม่ฮ่องสอน
                    พาเที่ยว ขี่มอเตอร์ไซค์เที่ยวปาย, สะพานประวัติศาสตร์ ปาย, หมู่บ้านสันติชล, ถนนคนเดินปาย, ล่องแพแม่น้ำปาย
                    พ่อค้าแซ่บ : คุณเกมส์
                    ร้าน : รีสอร์ทปายในฝัน

                    พิธีกร: ป๋อมแป๋ม, ก๊อตจิ, กอล์ฟ
                    รับชมรายการเทยเที่ยวไทยได้ทางช่อง Bang channel
                    วันศุกร์ 22.30 น.
                    วันเสาร์ 12.00 น.
                    วันอาทิตย์ 18.30 น.
                </ul>
                <p>ดูรายการย้อนหลังเพิ่มเติมได้ที่
                  http://www.bangchannel.com/videodetai...
                  ดู เทยเที่ยวไทย ทั้งหมด
                  http://www.youtube.com/playlist?list=...</p>
            </div>
            <div class="col-md-6">
              <iframe width="420" height="315"
src="http://www.youtube.com/embed/8hNhsNUhXE4?autoplay=0">
</iframe>
            </div>
        </div>
        <!-- /.row -->

        <hr>

        <!-- Call to Action Section -->
        <div class="well">
            <div class="row">
                <div class="col-md-8">
                    <p>ติดต่อผู้ดูแลเว็ปไซต์ ได้ทางหมายเลข 081-23456789 หรือ ทาง maehongsornontour@gmail.com</p>
                </div>
                <div class="col-md-4">
                    <a class="btn btn-lg btn-default btn-block" href="#">Back to top</a>
                </div>
            </div>
        </div>

        <hr>

        <!-- Footer -->
        <footer>
            <div class="row">
                <div class="col-lg-12">
                    <p>Copyright &copy; Your Website 2014</p>
                </div>
            </div>
        </footer>

    </div>
    <!-- /.container -->

    <!-- jQuery -->
    <script src="js/jquery.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="js/bootstrap.min.js"></script>

    <!-- Script to Activate the Carousel -->
    <script>
    $('.carousel').carousel({
        interval: 5000 //changes the speed
    })
    </script>

</body>

</html>
